{% extends "base/base.html" %}


{% block title %}

{% endblock title %}



{% block body %}
<div>
    <div class="row ">

        <div class="col-lg-3 ">
        </div>
        <div class="col-6 pb-3">
            <img src="{{bDetails.image.url}}" class="d-block w-100" alt="...">
            <h3>{{bDetails.title}}</h3>
            <hr>
            <p>
                <b>details:</b>
                <br>
                {{bDetails.description}}
            </p>
            <p>
                <b>Published : </b> {{bDetails.published_date}}
            </p>
        </div>
        <div class="col-lg-3">
        </div>

    </div>
</div>
{% endblock body %}